.ssx-scroll-stack {
  position: relative;
  padding-top: 15vh;
}

/* CARD */
.ssx-scroll-stack__card {
  position: sticky;
  max-width: 900px;
  margin: 0 auto 100px;
  background: linear-gradient(135deg, #1e293b, #020617);
  color: #f8fafc;
  padding: 2.5rem;
  min-height: 280px;
  border-radius: 18px;

  box-shadow: 0 3px 70px rgba(20, 22, 36, 0.45);

  /* 🔒 HARD SHIMMER KILL */
  transform: none !important;
  will-change: auto;
  backface-visibility: visible;

  /* text always crisp */
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* END SPACER */
.ssx-scroll-stack__end {
  height: 60vh;
}
 
.scrollstackimg{
    height: 30px;
}